/*
  ICON FONT FACE
*/
@font-face {
  font-family: 'roomies-font';
  src: url('../font/roomies-font.eot?6710013');
  src: url('../font/roomies-font.eot?6710013#iefix') format('embedded-opentype'),
  url('../font/roomies-font.woff?6710013') format('woff'),
  url('../font/roomies-font.ttf?6710013') format('truetype'),
  url('../font/roomies-font.svg?6710013#roomie-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {font-family: "roomies-font";}

/*
  VARIABLES
*/
$border:1px solid rgba(255, 255, 255, 0.25);

/*
  MIXINS
*/
@mixin action-button() {
  color:#c8c8c8;
  font-family: "roomies-font";
  background:transparent;
  padding: 2px 5px;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor:pointer;

  &:hover {
    color:white;
    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 150ms linear;
  }
}
/*
  CORE CSS
*/
html {
  margin:0;
  background:linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4) ), url('../bg.jpg');
  background-size: cover;
  background-attachment:fixed;
  color:white;
}
html, body, #app { height:100%; }
body {
  color:white;
  margin:0;
  font-size:20px;
  font-family: 'Work Sans', sans-serif;
  font-weight:lighter;
}
input {
  font-family: 'Work Sans', sans-serif;
  background: rgba(255, 255, 255, 0.12);
  border: $border;
  padding: 5px;
  margin-right: 4px;
  color: #FFF;
  font-size:22px;
  border-radius:0;
}
input[type="submit"]
{
  line-height: initial;
  height:39px;
  width:10%;
}
#header {
  padding:0 0 0 20px;
  border-bottom: $border;
}
#reset {
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: #FFF;
  color: #000;
  text-decoration: none;
}
#breakdown, #expenses{
  width:45%;
  float:left;
  padding:20px;
}
#breakdown {
  #roomie-name { width:80%; }
  border-right:$border;
  input[type="submit"] {
    width:10%;
  }
}

#expenses {
  #expense-name { width:52%; }
  #expense-cost { width:20%; }
}
.add {
  @include action-button();
}
.delete {
  @include action-button();
  font-size:12px;
}

input.cost {
  width:35px;
}

input.split {
  width:43px;
  font-size:19px;
  font-weight: lighter;
  font-family: 'Work Sans', sans-serif;
}

table.cost-breakdown {
  padding-left:10px;
}
th, td {
  border-bottom:none;
}
table {
  width:100%;
  tr {
    td {
      padding:5px;
      vertical-align: middle;
    }
    td.roomie-delete-td {
      width:25px;
    }
    td.roomie-name {
      border-bottom:1px solid white;
    }
    td.roomie-owes {
      width:85px;
      font-weight:400;
      background-color: white;
      color: #0F8A0A;
    }
  }
}

#credits {
  clear:both;
  position:relative;
  background:white;
  width:100%;
  color:black;
  font-size:14px;
  padding:10px 0;
  text-align:center;
}
/*
  SKELETON CSS MODS
*/
.show-on-mobile {
  display:none;
}

@media screen and (max-width: 800px)
{
  #breakdown {
    border-right:none;
  }
  .summary {
    padding:20px 20px 0 20px;
  }

  .show-on-mobile {
    display: inline-block;
  }
  .icon {
    display: inline-block;
  }
  .icon, .collapse-container {
    &.active {
      display: inline-block;
    }
    &.inactive {
      display:none;
    }
  }
  #breakdown, #expenses {
    width:100%;
    float:left;
    padding:0;
  }

  .collapse-container {
    display:none;
    padding:20px;
  }

  h3 {
    padding:20px;
    margin: 0 0 5px 0;
    background-color: rgba(255, 255, 255, 0.16);
  }
}