<!DOCTYPE html>
<html lang="en" ng-app="roomiesApp">
<head>
    <script type="text/javascript" src="spahql-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="app.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Roomies - Make sharing space easier.</title>
</head>
<body>
<div id="header"><h2>Roomies</h2></div>
<div id="app" class="row" ng-controller="HouseController as house">
    <a href="#" ng-click="house.reset()" id="reset" ng-show="house.hasRoomies()">Reset</a>
    <div id="breakdown">
        <div id="add-roomie">
            <form ng-submit="house.addRoomie()">
                <input type="text" ng-model="house.roomieName" placeholder="Add Roommate" id="roomie-name"/>
                <input type="submit" value="&#xe601;" class="add icon"/>
            </form>
            <p ng-hide="house.hasRoomies()">First, add some roommates.</p>
        </div>
        <h3 ng-click="house.setSection('breakdown')" ng-show="house.hasRoomies()">
            <span class="icon show-on-mobile" ng-class="house.sectionSelected('breakdown') ? 'inactive' : 'active'">&#xe603;</span>
            <span class="icon show-on-mobile" ng-class="house.sectionSelected('breakdown') ? 'active' : 'inactive'">&#xe604;</span>
            Expense Breakdown
        </h3>
        <div class="collapse-container" ng-class="{active : house.sectionSelected('breakdown')}">
            <table ng-repeat="roomie in house.roomies">
                <tr>
                    <td class="roomie-delete-td"><a href="#" ng-click="house.deleteRoomie(roomie)" class="delete">&#xe602;</a></td>
                    <td class="roomie-name">
                        <span class="name"> {{roomie.name}}</span>
                    </td>
                    <td class="roomie-owes"> {{roomie.owes | currency}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table class="cost-breakdown">
                            <tr ng-repeat="expense in roomie.expenses">
                                <td class="roomie-delete-td"><a href="#" ng-click="house.deleteIndividualExpense(roomie, expense)" class="delete">&#xe602;</a></td>
                                <td>{{expense.name}}</td>
                                <td class="split-percent"><input type="text" class="split" ng-model="expense.split" ng-change="house.changeExpenseSplit(roomie, expense)" value="{{expense.split | number:2}}"/>%</td>
                                <td>{{expense.indivCost | currency}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="expenses" ng-show="house.hasRoomies()">
        <p class="summary" ng-show="house.hasRoomiesNoExpenses()">Next, add some expenses below.</p>
        <h3 ng-click="house.setSection('expenses')">
            <span class="icon show-on-mobile" ng-class="house.sectionSelected('expenses') ? 'inactive' : 'active'">&#xe603;</span>
            <span class="icon show-on-mobile" ng-class="house.sectionSelected('expenses') ? 'active' : 'inactive'">&#xe604;</span>
            Expenses <span ng-show="house.hasExpenses()">- {{house.totalExpenses() | currency}}</span>
        </h3>
        <div class="collapse-container" ng-class="{active : house.sectionSelected('expenses')}">
            <form ng-submit="house.addExpense()">
                <input type="text" ng-model="house.expenseName" placeholder="Expense Name" id="expense-name"/>
                <input class="cost" type="text" ng-model="house.expenseTotalCost" placeholder="$" id="expense-cost"/>
                <input type="submit" value="&#xe601;" class="add icon"/>
            </form>
            <br/>
            <table>
                <tr ng-repeat="expense in house.expenses">
                    <td><a href="#" ng-click="house.deleteExpense(expense)" class="delete icon">&#xe602;</a></td>
                    <td>{{expense.name}}</td>
                    <td>{{expense.totalCost | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="credits">Developed by <a href="http://elijahboston.com">Elijah Boston</a>. Background: "Tones" by <a href="http://www.deviantart.com/art/Tones-370950717">Slurpaza</a>. Font:
    <a href="https://www.google.com/fonts/specimen/Work+Sans">Work Sans</a>. Written in AngularJS.</div>

</body>
</html>
